<footer>
  <a href="mailto:thykka+demofx@gmail.com">Email</a> |
  <a href="https://vis.social/@CFDS" target="_blank">Mastodon</a> |
  <a href="https://github.com/thykka/demo-fx/" target="_blank">Demo-FX source</a>
</footer>
